{% extends 'base/clientbase.html' %}




{% block content %}
{% include "base/clientnav.html"  %} 

 


<div class="main-content">
  <section class="section">
    <div class="section-header">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="section-header-breadcrumb-content">
            <h1>BULK SMS</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="#">  <i class="fas fa-paper-plane"></i></a></div>
              <!-- <div class="breadcrumb-item"><a href="#">Forms</a></div>
              <div class="breadcrumb-item"><a href="#">Basic Form</a></div> -->
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4>Create Message</h4>
            </div>
            <div class="card-body">
            <div class="row">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <input type="submit" value="submit" >
                </form>
              
            </div>
          </div>
        </div>
     </div>
    
    </div>
  </section>

</div>

{% endblock %}

 